@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

.footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  line-height: 40px;
  background-color: #f8f9fa;
  text-align: center;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

.navbar-custom {
  /*    background-color: #EFEFEF;
    font-family: 'Poppins', sans-serif;
    padding-top: 0.25rem;
    padding-bottom: 15px;*/

  font-family: "Poppins", sans-serif;
  width: 100%;
  background-color: #ffffff;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Fixed at the top */
  top: 0;
  left: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar-custom .navbar-brand {
  flex-grow: 1;
  text-align: left;
}

.navbar-custom .navbar-brand .logo {
  max-height: 40px;
}

.navbar-custom .navbar-collapse {
  flex-grow: 1;
}

.navbar-custom .navbar-nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.navbar-custom .nav-item {
  padding: 0 10px;
}

.navbar-custom .nav-link {
  font-size: 13px;
  font-weight: 500;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  color: #333;
  /* transition: color 0.2s; */
  transition: none;
}

.navbar-custom .nav-link:hover {
  color: #555;
}

.navbar-custom .navbar-nav ~ div {
  flex-grow: 0;
  text-align: right;
}

.navbar-custom .btn {
  padding: 4px 12px;
}

.navbar-custom .btn-outline-primary {
  border-color: #007bff;
  color: #007bff;
  font-size: 13px;
}

.navbar-custom .btn-outline-primary:hover {
  background-color: #007bff;
  color: #000000;
}

.navbar-custom .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  font-size: 14px;
}

.navbar-custom .btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.navbar-custom .btn .fas {
  margin-right: 5px;
}

.navbar-custom .btn .badge {
  position: relative;
  top: -5px;
  right: -5px;
}

.footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  line-height: 40px;
  background-color: #f8f9fa;
  text-align: center;
}
