

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font: inherit;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.maincontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    position: relative;
    padding: 40px;
    overflow: hidden;
}

.banner {
    width: 100%;
    height: 100%;
    background-image: url('/Images/banner1.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.text-content {
    z-index: 2;
    color: white;
    text-align: left;
    padding: 0 15px;
}

.display1 {
    font-size: 33px;
    margin: 0;
    line-height: 1.2;
    color: #0F7DAD;
    font-weight: 600;
}

p {
    font-size: 1rem;
    margin-top: 1rem;
}




/* About Us section */
.about-section {
    text-align: center;
    padding: 50px 20px;
    background-color: white;
}

.section-title {
    font-size: 2rem;
    margin: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #0F7DAD;
    display: block;
    width: 100%;
    position: relative;
}

    .section-title::after {
        content: '';
        display: block;
        width: 100px;
        height: 4px;
        background-color: #0F7DAD;
        margin: 0 auto;
        position: absolute;
        left: 50%;
        bottom: -10px;
        transform: translateX(-50%);
    }

.about-content {
    display: flex;
    padding-top: 30px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.text-block {
    max-width: 600px;
    text-align: left;
    font-size: 14px;
}

.image-block {
    max-width: 600px;
}

.about-image {
    width: 100%;
    height: 300px;
    display: block;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
}





/* PRODUCTS CARD LAYOUT */

.carousel {
    position: relative;
    width: 80%; 
    margin: auto;
    padding-top: 60px; 
    padding-bottom: 60px;
}

.carousel-track-container {
    overflow: hidden;
    padding: 0 50px;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.product-card {
    width: 220px; 
    margin: 0 15px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out;
}

    .product-card:hover {
        transform: scale(1.03);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .product-card img {
        width: 100%;
        height: auto;
    }

.product-details {
    padding: 10px;
    text-align: center;
}

.product-title {
    font-size: 16px; 
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
}

.product-price {
    font-size: 15px; 
    color: #333;
    margin-bottom: 12px;
}

/* Buttons */
.button-container {
    padding: 10px 10px;
    width: 100%;
    display: flex;
    justify-content: space-around; 
}

.order-button, .add-to-cart {
    padding: 8px 16px; 
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
    border-radius: 20px; 
    outline: none;
    transition: background-color 0.2s ease-in-out;
}

.order-button {
    background-color: #27ae60;
    flex-grow: 1;
    margin-right: 5px; 
}

.add-to-cart {
    background-color: #f39c12; 
    flex-grow: 1;
}

.carousel-button {
    border: none;
    background-color: #d3d3d3;
    padding: 5px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-70%);
    border-radius: 50%;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    z-index: 5;
}

    .carousel-button i {
        font-size: 24px;
        color: #a0a0a0;
    }

.prev {
    left: -45px;
}

.next {
    right: 20px;
}

/* PRODUCT CARD END */
