@model Aircraft_project.Models.Aircraft



@{
    ViewData["Title"] = "AddAircraft";
}


<!-- Main Content -->
<div id="content">
    <!-- Topbar -->
    @Html.Partial("~/Views/Shared/_DashboardTopNavbar.cshtml")
    <!-- End of Topbar -->

    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Add Aircraft</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i>Generate Report</a>
        </div>

        <div class="row">
            <div class="col-md-12 mb-4">
                <div class="card mb-4">
                    <div class="card-body">

                        <form asp-action="AddAircraft" method="post">
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <label asp-for="Name" class="control-label">Aircraft Name</label>
                                <input asp-for="Name" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label asp-for="Manufacturer" class="control-label">Manufacturer</label>
                                <input asp-for="Manufacturer" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label asp-for="Color" class="control-label">Color</label>
                                <input asp-for="Color" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label asp-for="PassengerCapacity" class="control-label">Passenger Capacity</label>
                                <input asp-for="PassengerCapacity" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label asp-for="MaxSpeed" class="control-label">Max Speed</label>
                                <input asp-for="MaxSpeed" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label asp-for="FuelCapacity" class="control-label">Fuel Capacity</label>
                                <input asp-for="FuelCapacity" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label asp-for="EngineType" class="control-label">Engine Type</label>
                                <select asp-for="EngineType" class="form-control">
                                    <option value="Jet">Jet</option>
                                    <option value="Propeller">Propeller</option>
                                    <option value="Turboprop">Turboprop</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label asp-for="Range" class="control-label">Range</label>
                                <input asp-for="Range" class="form-control" />
                                <span asp-validation-for="Range" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for ="ManufacturingDate" class="control-label">Manufactured Date</label>
                                <input asp-for="ManufacturingDate" type="date" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label for="additionalInformation" class="control-label">Additional Information</label>
                                <textarea for="AdditionalInformation" typeof="text" id="additionalInformation" class="form-control" rows="4"></textarea>
                            </div>

                            <!-- Submit button -->
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Add Aircraft</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
