@model Aircraft_project.Models.Admin

@{
	ViewData["Title"] = "AdminLogin";

	// Check if login was successful
	bool loginSuccess = TempData["SuccessMessage"] != null;

}

<style>
	.bgg {
		background-image: url("https://miro.medium.com/v2/resize:fit:1400/1*hS59XJEpKW3vx_pVsFuk-g.jpeg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 100vh;
	}
</style>

<section class="vh-100 d-flex align-items-center justify-content-center bgg">
	<div class="container">
		<div class="row justify-content-center  text-secondary">
			<div class="col-md-8 shadow p-5 rounded  bg-light">
				<h2 class="font-weight-bold text-center">Admin Login</h2>
				<hr class="mb-5">
				<form asp-controller="Dashboard" asp-action="AdminLogin" method="post" class="signin-form">
					<!-- Use asp-for for model binding -->
					<div class="form-group">
						<input asp-for="Email" class="form-control" placeholder="Username" required>
					</div>
					<div class="form-group">
						<input asp-for="Password" id="password-field" type="password" class="form-control"
							placeholder="Password" required>
					</div>
					<div class="form-group">
						<button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>


@section Scripts {
	@if (loginSuccess)
	{
		<script>
			// Function to set items in local storage with expiration time
			function setLocalStorageItem(key, value, expirationDays) {
				const expirationDate = new Date();
				expirationDate.setDate(expirationDate.getDate() + expirationDays);
				const item = {
					value: value,
					expirationDate: expirationDate.toISOString()
				};
				localStorage.setItem(key, JSON.stringify(item));
			}

			// Get user ID and username from ViewData
			const AdminId = '@ViewData["AdminId"]';
			const AdminName = '@ViewData["AdminName"]';

			// Debugging: Log the values to the console
			console.log('AdminId:', AdminId);
			console.log('AdminName:', AdminName);

			// Set user ID and username in local storage
			setLocalStorageItem('AdminId', AdminId, 14);
			setLocalStorageItem('AdminName', AdminName, 14);

			window.location.href = '/Dashboard';
		</script>
	}
}