@model Aircraft_project.Models.Admin

@{
	ViewData["Title"] = "AdminLogin";
}

<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6 text-center mb-5">
				<h2 class="heading-section">Login #10</h2>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-6 col-lg-4">
				<div class="login-wrap p-0">
					<!-- Use the correct action and method for form submission -->
					<form asp-controller="Dashboard" asp-action="AdminLogin" method="post" class="signin-form">
						<!-- Use asp-for for model binding -->
						<div class="form-group">
							<input asp-for="Email" class="form-control" placeholder="Username" required>
						</div>
						<div class="form-group">
							<input asp-for="Password" id="password-field" type="password" class="form-control"
								placeholder="Password" required>
							<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
						</div>
						<div class="form-group">
							<button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
