@{
    ViewData["Title"] = "About";
}


<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>About Us</h2>
        </div>

        <div class="row content">
            <div class="col-lg-6">
                <img src="https://www.blraerospace.com/wp-content/uploads/2016/07/H125_Products_2.png"
                    alt="Raythos Aerospace Hangar" class="img-fluid w-100       
                         img_transistion">
            </div>
            <div
                class="col-lg-6 pt-4 pt-lg-0 d-flex justify-content-center align-items-center flex-column pt-4 pt-lg-0">
                <p class="grayPara " style="line-height: 35px;">
                    At Raythos Aerospace, we're pioneering the future of flight. Founded by aviation enthusiasts and
                    engineers, we've grown from a small startup to a leading force in aerospace innovation.
                </p>
                <a href="#" class="btn-learn-more">Learn More</a>
            </div>
        </div>

    </div>


    @* features *@

    <!-- Featured Start -->
    <div class="container-fluid px-5 pt-2 mt-4">
        <div class="row px-xl-5 pb-3">
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center shadow col-hover mb-4  " style="padding: 30px">
                    <h1 class="fa fa-check   m-0 mr-3"></h1>
                    <h5 class="font-weight-bolder m-0 ">Quality Product</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center shadow col-hover mb-4" style="padding: 30px">
                    <h1 class="fa fa-shipping-fast   m-0 mr-2"></h1>
                    <h5 class="font-weight-bolder m-0"> Shipping </h5>
                    <p class="badge badge-danger"> + DC</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center shadow col-hover mb-4" style="padding: 30px">
                    <h1 class="fas fa-exchange-alt   m-0 mr-3"></h1>
                    <h5 class="font-weight-bolder m-0">Exchange </h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center shadow col-hover mb-4" style="padding: 30px">
                    <h1 class="fa fa-phone-volume   m-0 mr-3" "></h1>
                <h5 class=" font-weight-bolder m-0">24/7 Support</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Featured End -->

    <div class="container mt-5 pt-5">
        <div class="row text-center">
            <div class="col-md-6 ">
                <div class=" shadow product-card w-100 p-3 col-hover " style="background-color: #024c77; color:white">
                    <h2 class="text-uppercase text-white section-titles-inside-box  pt-5">
                        MISSION
                    </h2>

                    <div class="product-details ">
                        <p class="mt-3 text-justify " style="line-height: 35px;">Our mission is to design
                            aircraft that
                            defy
                            limits and deliver performance
                            beyond expectations.
                            Sustainability is at our core, as we strive to create eco-friendly solutions for tomorrow's
                            skies.
                            With cutting-edge technology and a team dedicated to excellence, we're not just joining the
                            aviation
                            industry</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class=" shadow product-card w-100 p-3 col-hover">
                    <h2 class="text-uppercase section-titles-inside-box pt-5">
                        VISION
                    </h2>

                    <div class="product-details">
                        <p class="mt-3 text-justify" style="line-height: 35px;">Our mission is to design
                            aircraft that
                            defy
                            limits and deliver performance
                            beyond expectations.
                            Sustainability is at our core, as we strive to create eco-friendly solutions for tomorrow's
                            skies.
                            With cutting-edge technology and a team dedicated to excellence, we're not just joining the
                            aviation
                            industry</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End About Us Section -->
