@{
    ViewData["Title"] = "Home Page";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
                data-aos="fade-up" data-aos-delay="200">
                <h1>WELCOME TO <span class="text-warning font-weight-bold">EMBRACE THE SKIES</span> </h1>
                <h5 class="text-white mt-3 mb-3" style="line-height: 35px;">Raythos Aerospace invites you on a journey
                    of innovation and
                    excellence.<br />
                    Elevate your
                    experience above the clouds.</h5>
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="#about" class="btn-get-started scrollto">Get Started</a>
                    <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><span>About
                            Us</span></a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                @* <img src="Images/jet1.jpg" class="img-fluid animated" alt=""> *@
            </div>
        </div>

    </div>
</section>
<!-- End Hero -->



<!-- ======= About Us Section ======= -->
<section id="about" class="about mt-5">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>About Us</h2>
        </div>

        <div class="row content">
            <div class="col-lg-6">
                <img src="https://www.blraerospace.com/wp-content/uploads/2016/07/H125_Products_2.png"
                    alt="Raythos Aerospace Hangar" class="img-fluid w-100       
                         img_transistion">
            </div>
            <div
                class="col-lg-6 pt-4 pt-lg-0 d-flex justify-content-center align-items-center flex-column pt-4 pt-lg-0">
                <p class="grayPara" style="line-height: 35px;">
                    At Raythos Aerospace, we're pioneering the future of flight. Founded by aviation enthusiasts and
                    engineers, we've grown from a small startup to a leading force in aerospace innovation.
                </p>
                <a href="#" class="btn-learn-more">Learn More</a>
            </div>
        </div>

    </div>
</section><!-- End About Us Section -->


<section class="bg-light ">
    <div class="container pt-4">
        <div class="section-title">
            <h2>Choose Customize Product</h2>
        </div>
        @* 1st row *@
        <div class="row mb-3">
            <div class="col-md-6 bordered">
                <h1 class="text-uppercase section-titles-inside-box">
                    Chopper
                </h1>
                <p class="mt-2 mb-3 grayPara">BLR engineers have created innovative performance-enhancing products for a
                    range of
                    Beechcraft King
                    Airs </p>
                <img src="https://www.blraerospace.com/wp-content/uploads/2016/07/H125_Products_2.png"
                    alt="Raythos Aerospace Hangar" class="img-fluid w-100       
                         img_transistion">

            </div>


            <div class="col-md-6">
                <div class="row bg-light p-4">
                    @* 1st col *@
                    <div class="col-md-6">
                        <img src="https://www.blraerospace.com/wp-content/uploads/2016/07/BLR_H125FF_250x250.png"
                            alt="Raythos Aerospace Hangar" class="img-fluid w-100       
                         img_transistion">

                    </div>
                    @* 2nd col *@
                    <div class="col-md-6">
                        <div class="">
                            <h4 class="font-weight-bolder">FastFin® System for Airbus</h4>
                            <p class="text-justify grayPara">The BLR FastFin System is certified and available to
                                enhance the
                                performance and handling
                                of Airbus H125 helicopters.</p>
                            <button class="btn btn-secondary">View Catelogs</button>
                        </div>

                    </div>
                </div>



                @* 2nd row *@
                <div class="row bg-light p-4">
                    @* 1st col *@
                    <div class="col-md-6">
                        <img src="https://www.blraerospace.com/wp-content/uploads/2016/07/BLR_FFSketch_250x250.png"
                            alt="Raythos Aerospace Hangar" class="img-fluid w-100       
                         img_transistion"">

                    </div>

                        @* 2nd col *@
                    <div class=" col-md-6">
                        <div class="">
                            <h4 class="font-weight-bolder">FastFin® System for Airbus</h4>
                            <p class="text-justify grayPara">The BLR FastFin System is certified and available to
                                enhance the
                                performance and handling
                                of Airbus H125 helicopters.</p>
                            <button class="btn btn-secondary">View Catelogs</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>

                        @* 2ND MAIN ROW *@

        <div class="row mb-3 mt-4">
            <div class="col-md-6 bordered">
                <h1 class="text-uppercase section-titles-inside-box">
                    TURBINE AIRPLANES
                </h1>
                <p class="mt-2 mb-3">BLR engineers have created innovative performance-enhancing products for a range of
                    Beechcraft King Airs. </p>
                <img src="https://www.blraerospace.com/wp-content/uploads/2016/07/King_Air_2.png"
                    alt="Raythos Aerospace Hangar" class="img-fluid w-100       
                         img_transistion"">

            </div>


            <div class=" col-md-6">
                <div class="row bg-light p-4">
                        @* 1st col *@
                    <div class="col-md-6">
                        <img src="https://www.blraerospace.com/wp-content/uploads/2016/07/BLR_WPSketch_250x250.png"
                            alt="Raythos Aerospace Hangar" class="img-fluid w-100       
                         img_transistion">

                    </div>
                    @* 2nd col *@
                    <div class="col-md-6">
                        <div class="">
                            <h4 class="font-weight-bolder">Whisper Prop For King Air</h4>
                            <p class="text-justify grayPara">Transform your flying experience with unprecedented
                                reductions in
                                noise, vibration and weight.</p>
                            <button class="btn btn-secondary">View Catelogs</button>
                        </div>

                    </div>
                </div>


                @* 2nd row *@
                <div class="row bg-light p-4">
                    @* 1st col *@
                    <div class="col-md-6">
                        <img src="https://www.blraerospace.com/wp-content/uploads/2016/07/BLR_LED_250x250.png"
                            alt="Raythos Aerospace Hangar" class="img-fluid w-100       
                         img_transistion">

                    </div>

                    @* 2nd col *@
                    <div class="col-md-6">
                        <div class="">
                            <h4 class="font-weight-bolder">LED Lighting Systems</h4>
                            <p class="text-justify grayPara">Highly reliable LED wingtip lights burn brighter and are
                                highly
                                visible with less flashback when operating in heavy fog or clouds.</p>
                            <button class="btn btn-secondary">View Catelogs</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <hr>

        @* 3RD MAIN ROW *@

        <div class="row mb-3 mt-4">
            <div class="col-md-6 bordered">
                <h1 class="text-uppercase section-titles-inside-box">
                    PRIvate Jets
                </h1>
                <p class="mt-2 mb-3">BLR engineers have created innovative performance-enhancing products for a range of
                    Beechcraft King Airs. </p>
                <img src="https://www.freepnglogos.com/uploads/jet-png/download-jet-png-transparent-image-and-clipart-10.png"
                    alt="Raythos Aerospace Hangar" class="img-fluid w-100       
                         img_transistion"">

            </div>


            <div class=" col-md-6">
                <div class="row bg-light p-4">
                @* 1st col *@
                    <div class="col-md-6">
                        <img src="https://www.blraerospace.com/wp-content/uploads/2016/07/BLR_RearStrakes_250x250.png"
                            alt="Raythos Aerospace Hangar" class="img-fluid w-100       
                         img_transistion">

                    </div>
            @* 2nd col *@
                    <div class="col-md-6">
                        <div class="">
                            <h4 class="font-weight-bolder">Aft Body Strakes</h4>
                            <p class="text-justify grayPara">Improve directional stability while reducing aft body drag
                                and Dutch
                                roll oscillations.</p>
                            <button class="btn btn-secondary">View Catelogs</button>
                        </div>

                    </div>
                </div>


        @* 2nd row *@
                <div class="row bg-light p-4">
            @* 1st col *@
                    <div class="col-md-6">
                        <img src="https://www.blraerospace.com/wp-content/uploads/2016/07/BLR_PKG_250x250.png"
                            alt="Raythos Aerospace Hangar" class="img-fluid w-100       
                         img_transistion">

                    </div>

            @* 2nd col *@
                    <div class="col-md-6">
                        <div class="">
                            <h4 class="font-weight-bolder">Grand Duke Package</h4>
                            <p class="text-justify grayPara">Realize an operational weight increase with installation of
                                Vortex
                                Generators, Winglets, and Dual Aft Body Strakes.</p>
                            <button class="btn btn-secondary">View Catelogs</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</section>