@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/Images/banner1.jpg" alt="Banner" class="banner">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to the aircraft web application.</p>
</div>

