@{
    ViewData["Title"] = "Home Page";
}

<div class="maincontainer">
    <div class="banner"></div>
    <div class="text-content">
        <h1 class="display1">EMBRACE THE SKIES</h1>
        <p>Raythos Aerospace invites you on a journey of innovation and excellence.<br /> Elevate your experience above the clouds.</p>
    </div>
</div>

<section id="about" class="about-section">
    <h2 class="section-title">ABOUT US</h2>
    <div class="about-content">
        <div class="text-block">
            <p class="about-text">
                At Raythos Aerospace, we're pioneering the future of flight. Founded by aviation enthusiasts and engineers, we've grown from a small startup to a leading force in aerospace innovation.
                <br /><br />
                Our mission is to design aircraft that defy limits and deliver performance beyond expectations. Sustainability is at our core, as we strive to create eco-friendly solutions for tomorrow's skies. With cutting-edge technology and a team dedicated to excellence, we're not just joining the aviation industry;
            </p>
        </div>
        <div class="image-block">
            <img src="~/Images/aboutcover.jpg" alt="Raythos Aerospace Hangar" class="about-image">
        </div>
    </div>
</section>
