@{
    ViewData["Title"] = "Shopping";
}



<div class="product-card">
    <div class="product-image">
        <img src="~/Images/PISTON-AIRPLANES.jpg" alt="Aircraft Model">
    </div>
    <div class="product-details">
        <div class="product-brand">Jet</div>
        <h2 class="product-title">PISTON AIRPLANES</h2>
        <div class="product-price">$20,000,000</div>
    </div>
    <div class="button-container">
        <button class="order-button">Order Now</button>
        <button class="add-to-cart" onclick="slideIcon()">
            Cart
            <i class="fas fa-shopping-cart cart-icon"></i>
        </button>
    </div>
</div>


